name: Test
on:
  pull_request:
    branches: ["main"]
  push:
    branches: ["main"]

jobs:
  ci:
    uses: bokulich-lab/utilities/.github/workflows/ci.yaml@main
    with:
      distro: amplicon

  qiime-ci:
    uses: ./.github/workflows/library_ci.yml
